In [16]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('C:/Users/Ruben/Desktop/UOC/Master/Visualización de datos/PRA2/Covid Data.csv')

In [39]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [40]:
# Categorizar Sexo
df['SEX'] = df['SEX'].replace({1: 'Mujer', 2: 'Hombre'})

In [41]:
# Borrar los que no son datos de Covid clasificados
df = df.loc[df['CLASIFFICATION_FINAL'] < 4]

In [42]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,Mujer,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
2,2,1,Hombre,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
4,2,1,Hombre,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,Mujer,2,9999-99-99,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,Mujer,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97

In [43]:
df['PATIENT_TYPE'] = df['PATIENT_TYPE'].replace({1: 'Retorno a casa', 2: 'Hospitalizado'})

In [44]:
# Realizar el reemplazo en el DataFrame
lista_atributos = ['INTUBED', 'PNEUMONIA', 'PREGNANT', 'DIABETES', 'ASTHMA', 'TOBACCO', 'INMSUPR', 'HIPERTENSION', 'COPD', 'OBESITY', 'ICU']
for atributo in lista_atributos:
    df[atributo] = df[atributo].replace({1: 'Sí', 2: 'No'}).where(df[atributo].isin([1, 2]), np.nan)

In [45]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,Mujer,Retorno a casa,03/05/2020,NaN,Sí,65,No,No,...,No,No,Sí,2,2,No,2,No,3,NaN
2,2,1,Hombre,Hospitalizado,09/06/2020,Sí,No,55,NaN,Sí,...,No,No,No,2,2,No,2,No,3,No
4,2,1,Hombre,Retorno a casa,21/06/2020,NaN,No,68,NaN,Sí,...,No,No,Sí,2,2,No,2,No,3,NaN
5,2,1,Mujer,Hospitalizado,9999-99-99,No,Sí,40,No,No,...,No,No,No,2,2,No,2,No,3,No
6,2,1,Mujer,Retorno a casa,9999-99-99,NaN,No,64,No,No,...,No,No,No,2,2,No,2,No,3,NaN

In [47]:
# Rango Edad
# Definir los límites de los rangos
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 140]

# Realizar el agrupamiento de edad en rangos
df['rango_edad'] = pd.cut(df['AGE'], bins=bins, labels=['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81-90', '91+'])

In [48]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,rango_edad
0,2,1,Mujer,Retorno a casa,03/05/2020,NaN,Sí,65,No,No,...,No,Sí,2,2,No,2,No,3,NaN,61-70
2,2,1,Hombre,Hospitalizado,09/06/2020,Sí,No,55,NaN,Sí,...,No,No,2,2,No,2,No,3,No,51-60
4,2,1,Hombre,Retorno a casa,21/06/2020,NaN,No,68,NaN,Sí,...,No,Sí,2,2,No,2,No,3,NaN,61-70
5,2,1,Mujer,Hospitalizado,9999-99-99,No,Sí,40,No,No,...,No,No,2,2,No,2,No,3,No,31-40
6,2,1,Mujer,Retorno a casa,9999-99-99,NaN,No,64,No,No,...,No,No,2,2,No,2,No,3,NaN,61-70

In [50]:
# Reemplazar "9999-99-99" por NaN en el atributo 'fecha'
df['DATE_DIED'] = df['DATE_DIED'].replace('9999-99-99', np.nan)

In [51]:
df.to_csv('C:/Users/Ruben/Desktop/UOC/Master/Visualización de datos/PRA2/Covid Data Transformed.csv', index=False)